<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GetCurrentlyBestPlayerSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wsdemo.systementor.se/GetCurrentlyBestPlayer.asmx"
                binding="basicHttpBinding" bindingConfiguration="GetCurrentlyBestPlayerSoap"
                contract="ServiceReference1.GetCurrentlyBestPlayerSoap" name="GetCurrentlyBestPlayerSoap" />
        </client>
    </system.serviceModel>
</configuration>